/* AdminNavbar.module.css */
.navbar {
  height: 100%;
  width: 250px; /* Width of the sidebar */
  display: flex;
  flex-direction: column;
  position: relative; /* Fixed sidebar */
  top: 0;
  left: 0;
  background-color: var(--admin-background-color);
  padding: var(--spacing);
  z-index: 100;
  transition: all 0.3s ease; /* Smooth transition */
}

.collapsed {
  width: 60px; /* Width when collapsed */
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  width: 200px;
}

.toggleButtonDiv{
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
}

.navLink {
  margin: var(--spacing) 0;
  color: var(--admin-accent-color);
  text-align: left;
  display: flex; /* Make links flexible */
  align-items: center; /* Center align icons and text */
  transition: color 0.3s;
}

.navLink:hover {
  color: var(--admin-hover-color); /* Change color on hover */
}

/* Icons */
.icon {
  font-size: 1.5rem; /* Size for the icons */
  margin-right: 8px; /* Space between icon and text */
}

/* Adjustments to Logout Button Container */
.logoutButtonContainer {
  margin-top: auto; /* Push to the bottom */
}

/* Logout Button Styles */
.logoutButton {
  display: flex; /* Make it a flex container */
  align-items: center; /* Center the icon */
  color: var(--admin-accent-color); /* Adjust color */
  text-align: left; /* Align text to left */
  padding-top: var(--spacing);
  transition: color 0.3s;
}

.logoutButton:hover {
  color: var(--admin-hover-color); /* Change color on hover */
}
.menuIcon {
  display: none;
}

.toggleIcon {
  display: none; /* Hidden by default */
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar {
    width: 100%; /* Full width on mobile */
    height: auto; /* Auto height */
    position: relative; /* Relative positioning */
    padding: 0.6rem;
  }

  .logoContainer {
    justify-content: space-between;
  }

  .menuIcon {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--admin-accent-color);
    font-size: 1.5rem; /* Use an icon for better UX */
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .menu {
    display: none; /* Hide menu by default */
    flex-direction: column;
  }

  .showMenu {
    display: flex; /* Show menu when toggled */
  }

  .navLink {
    padding: 0.5rem 1rem; /* Add padding for mobile links */
  }
}

/* Desktop Styles */
@media (min-width: 769px) {
  .toggleIcon {
    display: block; /* Show toggle icon on desktop */
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--admin-accent-color);
    font-size: 1.5rem; /* Size for the icon */
  }
}
