/* AdminNavbar.module.css */
.navbar {
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 73));
  padding: var(--spacing);
  z-index: 100;
  transition: all 0.4s ease;
}

.collapsed {
  width: 60px;
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
  width: 100%;
  gap: 30px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: aliceblue;
  letter-spacing: 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logoImg {
  height: 24px;
}

.toggleButtonDiv {
  width: 100%;
}

.iconScale {
  transform: scale(1.2);
}

.menu {
  display: flex;
  flex-direction: column;
}

.navLink {
  margin: var(--spacing) 0;
  color: var(--admin-accent-color);
  text-align: left;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.navLink:hover {
  color: rgb(2, 169, 235);
  text-shadow: 1px 0px 10px rgb(255, 255, 255);
}

/* Icons */
.icon {
  font-size: 1.2rem;
  margin-right: 8px;
}

/* Adjustments to Logout Button Container */
.logoutButtonContainer {
  margin-top: auto;
}

/* Logout Button Styles */
.logoutButton {
  display: flex;
  align-items: center;
  color: var(--admin-accent-color);
  text-align: left;
  padding-top: var(--spacing);
  transition: color 0.4s;
}

.logoutButton:hover {
  color: rgb(2, 169, 235);
  text-shadow: 1px 0px 10px rgb(255, 255, 255);
}

.menuIcon {
  display: none;
}
.toggleButtonDiv {
  display: flex;
  justify-content: flex-end;
}

.toggleIcon {
  display: none;
  transition: transform 0.3s ease;
}

.active {
  color: rgb(96, 181, 255); /* Active text color */
  font-weight: bold; /* Bold text for active link */
  border-left: 4px solid rgb(21, 0, 74); /* Optional: Add a left border */
  padding-left: 8px; /* Optional: Space for the left border */
}
/* Mobile Styles */
@media (max-width: 768px) {
  .navbar {
    width: 100%;
    /* Full width on mobile */
    height: auto;
    /* Auto height */
    position: relative;
    /* Relative positioning */
    padding: 0rem;
  }

  .logoContainer {
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
  }
  .toggleButtonDiv {
    display: flex;
    justify-content: flex-end;
  }

  .menuIcon {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--admin-accent-color);
    font-size: 1.5rem;
    right: 0rem;
    align-self: flex-end;
  }

  .menu {
    display: none;
    /* Hide menu by default */
    flex-direction: column;
  }

  .showMenu {
    display: flex;
    position: fixed;
    background-color: black;
    /* Show menu when toggled */
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 30px;
  }

  .navLink {
    padding: 0.5rem 1rem;
    /* Add padding for mobile links */
  }

  .logoutButton{
    display: flex;
    padding-left: 15px;
  }
}

/* Desktop Styles */
@media (min-width: 769px) {
  .toggleIcon {
    display: block;
    /* Show toggle icon on desktop */
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--admin-accent-color);
    font-size: 1.5rem;
    /* Size for the icon */
  }
}
