.mainDiv{
  padding: 20px;
  background-color: #f9f9f9;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

}

.vehicleCard {
  width: 300px;
  /* Adjust the width of the card */
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.displayImage {
  max-width: 100%;
  height: auto;
}

.scrollButton {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin: 0 8px;
}

.vehicleInfo {
  display: flex;
  padding: 5px 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.097);
  justify-content: space-between;
  margin-top: 12px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.019);
}

.detailItem {
  display: flex;
  align-items: center;
}

.cardActions{
  display: flex;
  justify-content: space-between;
  width: 100%;
}