.container {
  padding: 20px;
  background-color: #f9f9f9;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  justify-content: flex-start;
}


.title {
  text-align: left;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.searchSection {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
}

.inputContainer {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.searchIcon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.inputField {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 14px;
  width: 100%;
  max-width: 500px;
}

.vehicleCard {
  width: 280px;
  height: 360px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  position: relative;
}

.vehicleImage {
  object-fit: cover;
  height: 150px;
  border-radius: 8px 8px 0 0;
}

.manufacturerLogoContainer {
  position: absolute;
  top: 10px;
  left: 10px;
}

.manufacturerLogo {
  width: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: white;
}

.description {
  color: #555;
}

.details {
  font-size: 12px;
}

.specifications {
  display: flex;
}

.price {
  font-weight: bold;
  font-size: 20px;
  color: #e74c3c;
  /* Highlight price with a different color */
}

.deleteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #d9534f;
}

.deleteButton:hover {
  color: #c9302c;
}
.specifications {
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5px;
  border: 1px solid#adadad4a;
  border-radius: 5px 5px 0px 0px;
  max-width: 400px;
  margin-top: 5px;
  background-color: #efeeee7c;
  padding: 5px;
}

.availableQuantity{
  display: flex;
  background-color: rgba(4, 3, 3, 0.908);
  color: rgb(240, 240, 240);
  justify-content: center;
  align-items: center;
  padding: 5px;
}