.button {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 100px;
}

.button:hover {
  background-color: var(--highlight-color);
}
