.carCard {
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    padding:5px;
    text-align: left;
    background-color: #fff;
    padding-bottom: 30px;
  }
  
  .carImage {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .carDetials{
    width: 100%;
    padding:0px 10px;
  }
  
  .carCard h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #888;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
  }
  
  .rentButton{
    background-color:  #fff;
    color: #000;
    border: 1px solid #000;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  .rentButton:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    
  }
  